anyio==4.4.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.2
fastapi==0.95.2
h11==0.14.0
idna==3.7
Jinja2==3.1.2
MarkupSafe==2.1.5
mysql-connector-python==8.0.33
protobuf==3.20.3
pydantic==1.10.17
sniffio==1.3.1
starlette==0.27.0
typing_extensions==4.12.2
uvicorn==0.21.1
