body {
    font-family: 'Arial', sans-serif;
    background: url('/static/Images/ATM2.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 600px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.navbar {
    margin-top: 20px;
}
.navbar button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2em;
    width: 100%;
    transition: background-color 0.3s ease;
}
.navbar button:hover {
    background-color: #218838;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap;
    text-align: left;
}

.success-message {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.error-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.home-button {
    display: block;
    margin: 20px 1px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #218838;
}