<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Machine</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>ATM Machine</h1>
        <div class="navbar">
            <button onclick="navigateTo('/user')">Create User</button>
            <button onclick="navigateTo('/createpin')">Add PIN</button>
            <button onclick="navigateTo('/updatepin')">Update PIN</button>
            <button onclick="navigateTo('/balance')">Check Balance</button>
            <button onclick="navigateTo('/checkdetails_add')">Add Money</button>
            <button onclick="navigateTo('/checkdetails_withdraw')">Withdraw</button>
            <button onclick="navigateTo('/card_details')">User Details</button>
        </div>
    </div>
    <script>
        function navigateTo(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>
