<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <button class="home-button" onclick="navigateTo('/')">Home</button>
        <h1>User Details</h1>
        <div class="form-group">
            <label for="userDetailsCardNo">Card Number:</label>
            <input type="text" id="userDetailsCardNo">
        </div>
        <button onclick="getUserDetails()">Get User Details</button>
        <div id="output"></div>
    </div>
    <script>
        const apiUrl = 'http://127.0.0.1:8000';

        function getUserDetails() {
            const cardNo = document.getElementById('userDetailsCardNo').value;
            fetch(`${apiUrl}/card_details?card_no=${cardNo}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const output = document.getElementById('output');
                if (data.message) {
                    output.innerHTML = `<div class="success-message">${data.message}</div>`;
                    // setTimeout(() => {
                    //     window.location.href = `/`;
                    // }, 5000);
                } else if (data.detail) {
                    output.innerHTML = `<div class="error-message">${data.detail}</div>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const output = document.getElementById('output');
                output.innerHTML = `<div class="error-message">An error occurred. Please try again.</div>`;
            });
        }

        function navigateTo(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>
